@{
    ViewData["Title"] = "Home Page";
}

<div class="index-div bg-blur border border-white">
    <hr class="bg-primary w-75">
    <h3>Provide us with your car and all known issues. We'll take care of the rest!</h3>
    <img src="https://expressiveblogs.files.wordpress.com/2019/02/bmw-mechanic.png?w=615" alt="Alternate Text" />
    <h3>
        <a class="text-primay" href="Identity/Account/Login">Login</a>
        if you have an account or
        <a class="text-primay" href="Identity/Account/Register">Register</a>
        now and check our deals.
    </h3>
</div>