@model CarShop.ViewModels.Issues.CreateIssueViewModel
@{
    var carId = ViewBag.id;
}
<h1 class="text-center mt-2">Please describe the new Issue you'd like to add.</h1>
<hr class="bg-primary w-75">
<form class="mx-auto w-50" asp-action="AddIssue">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <div class="text-dark d-flex justify-content-center">
            <label for="description" class="h3 mb-2 text-white">Description</label>
        </div>
        <textarea asp-for="Description" row="20" class="form-control" id="description" name="description"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
        <input asp-for="CarId" type="text" hidden="hidden" />
    </div>
    <div class="d-flex justify-content-center">
        <button type="submit" href="/Issues/Add" class="btn btn-block btn-primary text-white mb-3">Add</button>
    </div>
</form>